<app-toolbar></app-toolbar>

<ul>
    <li><a routerLink="/log-in-user">Login</a></li>
    <li><a routerLink="/register-user">Registration</a></li>
    <li><a routerLink="/store-locations">Store Locations</a></li>
    <li><a routerLink="/location-select">Select Location</a></li>
    <li><a routerLink="/product-select">Product Select</a></li>
    <li><a routerLink="/getproducts-store">Buy Products</a></li>
    <li><a routerLink="/cust-order-history">Order History</a></li>
</ul>

<app-log-in-user></app-log-in-user>
<app-register-user></app-register-user>
<app-store-locations></app-store-locations>
<app-location-select></app-location-select>
<app-product-select></app-product-select>
<app-getproducts-store></app-getproducts-store>
<app-cust-order-history></app-cust-order-history>

<router-outlet></router-outlet>