<!-- <app-cust-order-history></app-cust-order-history><br><br> -->

<span style="background-color: antiquewhite;">Please Select Store location and store name to see available
    products</span>

<form class="content" (ngSubmit)="availProducts()">

    <label for="store">Select Store:</label>
    <input type="text" id="store" name="Select Store" [(ngModel)]="getProdInStore.selectStore"><br>

    <!-- Add more input fields for other registration data -->

    <button type="submit">See Products</button>
</form>

<div class="product-grid">
    <div class="product-card" *ngFor="let product of productsInStore">
        <div class="product-info">
            <strong class="product-name">Product Name:</strong> {{ product.productname }}
            <br>
            <strong class="product-price">Unit Price:</strong> {{ product.price }}
            <br>
            <strong class="product-quantity">Quantity In Stock:</strong> {{ product.prodquant }}
            <br>
            <strong class="product-description">Description:</strong> {{ product.description }} <br>
        </div>
        <div class="product-image">
            <!-- Display product image here -->
        </div>
    </div>
</div>