<!-- <app-cust-order-history></app-cust-order-history><br><br> -->

<span style="background-color: antiquewhite;">Please Select Store location and store name to see available
    products</span>

<form class="content" (ngSubmit)="availProducts()">

    <label for="store">Select Store:</label>
    <input type="text" id="store" name="Select Store" [(ngModel)]="getProdInStore.selectStore"><br>


    <!-- Add more input fields for other registration data -->

    <button type="submit">See Products</button>
</form>

<div *ngIf="productsInStore">

    <li *ngFor="let product of productsInStore">
        <strong>Product Name:</strong> {{ product.productname }}<br>
        <strong>Unit Price:</strong> {{ product.price }} <br>
        <strong>Quantity In Stock:</strong> {{ product.prodquant }} <br>
        <strong>Description:</strong> {{ product.description }}
    </li>
</div>


<!-- <ul *ngIf="availProducts">
    <li *ngFor="let product of productsInStore">
        <strong>Product Name:</strong> {{ productsInStore. }} <br>
        <strong>Unit Price:</strong> {{ product.Price }} <br>
        <strong>Quantity In Stock:</strong> {{ product.Prodquant }} <br>
        <strong>Description:</strong> {{ product.Description }}
    </li>
</ul> -->

<!-- <p>Here are products in chosen store and location with prices</p>
<pre> {{ productsInStore | json }}</pre> -->
<!-- 
<ul *ngIf="getStoreLocations">
    <li *ngFor="let locations of storeLocations">{{ locations }}</li>
</ul> -->