<div class="location-select">
    <span style="background-color: blanchedalmond;">Select the location</span><br>

    <input type="text" [(ngModel)]="selectedLocation.SelectLocation" placeholder="Enter location"><br>
    <button (click)="onLocationSelectClick()">See Stores in Location</button><br>

    <div *ngFor="let store of Stores">
        <!-- Placeholder for store-related content -->
    </div>

    <ul *ngIf="Stores.length > 0">
        <p class="heading">Here are the Stores in {{ location }}:</p><br>
        <li *ngFor="let store of Stores">
            <strong>{{ store }}</strong>
        </li>
    </ul>
</div>