<h1>Please Register if you don't have an account</h1>

<form class="content" (ngSubmit)="onRegSubmit()">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="First Name" placeholder="Please enter your First Name" autocomplete="off"
        [(ngModel)]="RegisterUser.FirstName">

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="Last Name" placeholder="Please enter your Last Name" autocomplete="off"
        [(ngModel)]="RegisterUser.LastName">

    <label for="username">User Name:</label>
    <input type="text" id="username" name="User name" placeholder="Choose a User Name" autocomplete="off"
        [(ngModel)]="RegisterUser.UserName">

    <label for="email">Email Address:</label>
    <input type="text" id="email" name="Email address" placeholder="Input your Email address" autocomplete="off"
        [(ngModel)]="RegisterUser.Email">

    <label for="password">Password:</label>
    <input type="password" id="password" name="Password" placeholder="Choose a strong password" autocomplete="off"
        [(ngModel)]="RegisterUser.Password">

    <button type="submit">Register</button>
</form>