<style>
    h2 {
        margin: 8px 0;
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        height: 40px;
        display: flex;
        align-items: center;
        background-color: red;
        color: white;
        font-weight: 700;
        margin-bottom: 16px;
        margin: 0px 3px;
    }


    svg.material-icons {
        height: 24px;
        width: auto;
    }


    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
    }
</style>

<p>toolbar works!</p>

<div class="toolbar" role="banner">
    <span>Welcome to Daniel's Chain Store Website </span>
    <div class="spacer"></div>
</div>